.status-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.status-bar__logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}
.status-bar__logo p{
  padding-left: 20px;
}
.status-bar__nav a{
  padding-right: 20px;
}
